<div class="grid grid-cols-1 gap-4 md:grid-cols-2">
    <label class="block">
        <span>First name</span>
        <input type="text" class="block w-full mt-1 rounded-md shadow-sm border-theme-border focus:ring focus:ring-theme-focus focus:ring-opacity-50" placeholder="First name">
    </label>
    <label class="block">
        <span>Last name</span>
        <input type="text" class="block w-full mt-1 rounded-md shadow-sm border-theme-border focus:ring focus:ring-theme-focus focus:ring-opacity-50" placeholder="Last name">
    </label>
    <label class="block md:col-span-2">
        <span>Company</span>
        <input type="text" class="block w-full mt-1 rounded-md shadow-sm border-theme-border focus:ring focus:ring-theme-focus focus:ring-opacity-50" placeholder="Company">
    </label>
    <label class="block md:col-span-2">
        <span>Address</span>
        <input type="text" class="block w-full mt-1 rounded-md shadow-sm border-theme-border focus:ring focus:ring-theme-focus focus:ring-opacity-50" placeholder="Address">
    </label>
    <label class="block md:col-span-2">
        <span>Address Line 2</span>
        <input type="text" class="block w-full mt-1 rounded-md shadow-sm border-theme-border focus:ring focus:ring-theme-focus focus:ring-opacity-50" placeholder="Apartment, suite, etc.">
    </label>
    <label class="block md:col-span-2">
        <span>City</span>
        <input type="text" class="block w-full mt-1 rounded-md shadow-sm border-theme-border focus:ring focus:ring-theme-focus focus:ring-opacity-50" placeholder="City">
    </label>

    <label class="block">
        <span>Region/Country</span>
        <select name="" class="block w-full mt-1 rounded-md shadow-sm border-theme-border focus:ring focus:ring-theme-focus focus:ring-opacity-50">
            <option value="">United Kingdom</option>
        </select>
    </label>
    <label class="block">
        <span>Postcode</span>
        <input type="text" class="block w-full mt-1 rounded-md shadow-sm border-theme-border focus:ring focus:ring-theme-focus focus:ring-opacity-50" placeholder="Postcode">
    </label>
    <label class="block md:col-span-2">
        <span>Phone</span>
        <input type="text" class="block w-full mt-1 rounded-md shadow-sm border-theme-border focus:ring focus:ring-theme-focus focus:ring-opacity-50" placeholder="Phone">
    </label>
</div>