<div class="grid grid-cols-1 gap-4 md:grid-cols-2">
    <label class="block">
        <span class="text-gray-700">First name</span>
        <input type="text" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="First name">
    </label>
    <label class="block">
        <span class="text-gray-700">Last name</span>
        <input type="text" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="Last name">
    </label>
    <label class="block md:col-span-2">
        <span class="text-gray-700">Company</span>
        <input type="text" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="Company">
    </label>
    <label class="block md:col-span-2">
        <span class="text-gray-700">Address</span>
        <input type="text" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="Address">
    </label>
    <label class="block md:col-span-2">
        <span class="text-gray-700">Address Line 2</span>
        <input type="text" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="Apartment, suite, etc.">
    </label>
    <label class="block md:col-span-2">
        <span class="text-gray-700">City</span>
        <input type="text" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="City">
    </label>

    <label class="block">
        <span class="text-gray-700">Region/Country</span>
        <select name="" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            <option value="">United Kingdom</option>
        </select>
    </label>
    <label class="block">
        <span class="text-gray-700">Postcode</span>
        <input type="text" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="Postcode">
    </label>
    <label class="block md:col-span-2">
        <span class="text-gray-700">Phone</span>
        <input type="text" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="Phone">
    </label>
</div>