<section class="space-y-12">
    <fieldset class="space-y-4">
        <legend class="flex flex-wrap items-center justify-between w-full">
            <span class="text-xl">Contact Information</span>
            <span class="text-sm">
                Already have an account? <a href="#" class="text-blue-400">Log in</a>
            </span>
        </legend>

        <div class="grid gap-4">
            <label class="block">
                <span class="text-gray-700">Email Address</span>
                <input type="text" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="Email Address">
            </label>
            <label class="inline-flex items-center">
                <input type="checkbox" class="text-indigo-600 border-gray-300 rounded shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" checked="">
                <span class="ml-2">Keep me up to date on news and exclusive offers</span>
            </label>
        </div>
    </fieldset>

    <fieldset class="space-y-4">
        <legend class="text-2xl">Shipping address</legend>

        <include src="address-form.html"></include>
        
    </fieldset>
</section>