<nav class="px-4 border rounded-md border-theme-border">
    <ul class="divide-y divide-theme-border">
        <li class="flex flex-wrap py-4">
            <p class="mr-2 min-w-1/5">Contact</p>
            <p class="mr-auto">email@address.com</p>
            <a href="#" class="hover:underline text-theme-link hover:hover:underline text-theme-link-hover ">Change</a>
        </li>
        <li class="flex flex-wrap py-4">
            <p class="mr-2 min-w-1/5">Ship to</p>
            <p class="mr-auto">your, address</p>
            <a href="#" class="hover:underline text-theme-link hover:hover:underline text-theme-link-hover ">Change</a>
        </li>
    </ul>
</nav>