<div class="col-span-1 p-8 border-l border-gray-300 bg-gray-50">

    <div class="sticky space-y-4 top-8">
        <!-- Product table -->
        <div class="space-y-2">
            <div class="flex flex-wrap items-center">
                <img src="#" alt="" width=50 height=50 class="mr-4 overflow-hidden bg-black border border-gray-300 rounded-md" style="width:50px;height:50px;">
    
                <p class="flex items-center flex-1 md:block lg:flex">
                    <span>
                        <a href="#">Product name</a>
                        <span class="block text-sm text-gray-400">option / value</span>
                    </span>
                    <span class="block ml-auto text-sm font-semibold">&pound;100.00</span>
                </p>
            </div>
    
            <div class="flex flex-wrap items-center">
                <img src="#" alt="" width=50 height=50 class="mr-4 overflow-hidden bg-black border border-gray-300 rounded-md" style="width:50px;height:50px;">
    
                <p class="flex items-center flex-1 md:block lg:flex">
                    <span>
                        <a href="#">Product name</a>
                        <span class="block text-sm text-gray-400">option / value</span>
                    </span>
                    <span class="block ml-auto text-sm font-semibold">&pound;100.00</span>
                </p>
            </div>
        </div>
        <!-- /Product table -->
    
        <hr>
    
        <!-- Discount -->
        <div class="flex space-x-2 md:block lg:flex md:space-y-2 md:space-x-0 lg:space-x-2 lg:space-y-0">
            <label class="block w-full">
                <input type="text" class="block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="Discount Code">
            </label>
            <button type="submit" class="p-4 py-2 text-white bg-gray-400 rounded-md md:w-full lg:w-auto focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                Apply
            </button>
        </div>
        <!-- Discount -->
    
        <hr>
    
        <!-- Subtotals -->
        <dl class="flex flex-wrap items-end justify-between text-sm leading-loose">
            <dt class="w-1/2 text-gray-600">Subtotal</dt>
            <dd class="font-semibold">£100.00</dd>
            <dt class="w-1/2 text-gray-600">Shipping</dt>
            <dd class="font-semibold">£100.00</dd>
            <dt class="w-1/2 text-gray-600">Taxes</dt>
            <dd class="font-semibold">£100.00</dd>
        </dl>
        <!-- /Subtotals -->
    
        <hr>
    
        <!-- Total -->
        <dl class="flex flex-wrap items-end justify-between">
            <dt class="w-1/2 text-gray-600">Total</dt>
            <dd class="text-xl font-semibold">£100.00</dd>
        </dl>
        <!-- /Total -->
    </div>
    

</div>