<section class="space-y-12">
    <div class="p-4 space-y-4 border border-gray-300 rounded-md">
        <div class="flex flex-wrap">
            <p class="mr-2 min-w-1/5">Contact</p>
            <p class="mr-auto">email@address.com</p>
            <a href="#" class="text-blue-400 ">Change</a>
        </div>

        <hr>

        <div class="flex flex-wrap">
            <p class="mr-2 min-w-1/5">Ship to</p>
            <p class="mr-auto">your, address</p>
            <a href="#" class="text-blue-400 ">Change</a>
        </div>
    </div>

    <fieldset class="space-y-4">
        <legend class="text-2xl">Shipping method</legend>
            <div class="p-4 space-y-4 border border-gray-300 rounded-md">

                <label class="flex items-center justify-between">
                    <input type="radio" class="text-indigo-600 border-gray-300 rounded-full shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" checked="">
                    <span class="mx-2">Large item</span>
                    <p href="#" class="ml-auto">£100.00</p>
                </label>

            </div>
        </div>
    </fieldset>
        
</section>