<form class="flex space-x-2 md:block lg:flex md:space-y-2 md:space-x-0 lg:space-x-2 lg:space-y-0">
    <label class="block w-full">
        <input type="text" class="block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="Discount Code">
    </label>
    <button type="submit" class="p-4 py-2 text-white bg-gray-400 rounded-md md:w-full lg:w-auto focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
        Apply
    </button>
</form>