<form class="flex py-4 space-x-2 md:block lg:flex md:space-y-2 md:space-x-0 lg:space-x-2 lg:space-y-0">
    <label class="block w-full">
        <input type="text" class="block w-full rounded-md shadow-sm border-theme-border focus:ring focus:ring-theme-focus focus:ring-opacity-50" placeholder="Discount Code">
    </label>
    <button type="submit" class="p-4 py-2 text-white rounded-md bg-theme-button hover:bg-theme-button-hover md:w-full lg:w-auto focus:ring focus:ring-theme-focus focus:ring-opacity-50">
        Apply
    </button>
</form>