<!-- Subtotals -->
<dl class="flex flex-wrap items-end justify-between py-4 text-sm leading-loose">
    <dt class="w-1/2 text-theme-grey">Subtotal</dt>
    <dd class="font-semibold">£100.00</dd>
    <dt class="w-1/2 text-theme-grey">Shipping</dt>
    <dd class="font-semibold">£100.00</dd>
    <dt class="w-1/2 text-theme-grey">Taxes</dt>
    <dd class="font-semibold">£100.00</dd>
</dl>

<!-- Total -->
<dl class="flex flex-wrap items-end justify-between py-4">
    <dt class="w-1/2 text-theme-grey">Total</dt>
    <dd class="text-xl font-semibold">£100.00</dd>
</dl>