<!-- Subtotals -->
<dl class="flex flex-wrap items-end justify-between text-sm leading-loose">
    <dt class="w-1/2 text-gray-600">Subtotal</dt>
    <dd class="font-semibold">£100.00</dd>
    <dt class="w-1/2 text-gray-600">Shipping</dt>
    <dd class="font-semibold">£100.00</dd>
    <dt class="w-1/2 text-gray-600">Taxes</dt>
    <dd class="font-semibold">£100.00</dd>
</dl>

<hr>

<!-- Total -->
<dl class="flex flex-wrap items-end justify-between">
    <dt class="w-1/2 text-gray-600">Total</dt>
    <dd class="text-xl font-semibold">£100.00</dd>
</dl>